body, html {
    height: 100%;
}

.container-main {
    margin: 0;
    width: 100%;
    height: 100%;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.neos-navigate-panel-open .container-main {
    width: calc(100% - 321px);
}

.neos-inspector-panel-open .container-main {
    width: calc(100% - 321px);
}

.neos-inspector-panel-open.neos-navigate-panel-open .container-main {
    width: calc(100% - 642px);
}
